
<a href="#" class="dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown">
  Your account
  <b class="caret"></b>
</a>

<ul class="dropdown-menu">
  <li><a href="#">Personal info</a></li>
  <li><a href="#">Account settings</a></li>
  <li><a href="#">Billing</a></li>
  <li><a href="#">Export your data</a></li>
  <li><a href="#">Send feedback</a></li>
</ul>
